html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
	margin:0;
	padding:0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	text-align: center;
	background: #ffebf8;
}
table {
	border: 0;
	min-width: 530px;
	margin: auto;
}
td {
	padding: 10px;
}
img {
	width: 50px;
	opacity: 0.5;
  }

div {
	padding: 95px;
	border-radius: 95px;
	cursor: pointer;
	box-shadow: 0 5px 15px 0 rgb(233, 165, 219);
  	transition: 0.5s;
}
div:hover {
	transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgb(240, 141, 230);
}
#rainbow {
	background: radial-gradient(#5aff30,#fff830,#ff303e,#ff30f8, #30d9ff,#3045ff);
}
#red {
	background: #ff303e;
}
#orange {
	background: #ff5630;
}
#yellow {
	background: #fff830;
}
#green {
	background: #5aff30;
}
#lightblue {
	background: #30d9ff;
}
#blue {
	background: #3045ff;
}
#violet {
	background: #ff30f8;
}
#white {
	background: #ffebf8;
}
